<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>888804099263-p5ee5f96b404ckis3rpt700incv4p584.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.888804099263-p5ee5f96b404ckis3rpt700incv4p584</string>
	<key>API_KEY</key>
	<string>AIzaSyC2WFNV103K5qFaX5Bg_NMnbQdMDzuBwUc</string>
	<key>GCM_SENDER_ID</key>
	<string>888804099263</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nabe1005.room-monitor.debug</string>
	<key>PROJECT_ID</key>
	<string>nabe1005-room-monitor</string>
	<key>STORAGE_BUCKET</key>
	<string>nabe1005-room-monitor.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:888804099263:ios:3c45674c09e35312a5320a</string>
	<key>DATABASE_URL</key>
	<string>https://nabe1005-room-monitor.firebaseio.com</string>
</dict>
</plist>